body {

    background-color: #daa520;
}

h1 {

    text-align: center;
}

.square span {
    display: inline-block;
    padding: 80px;
    margin: 20px;
    border-radius: 20px;
    background-color: black;
    color: white;
    text-align: center;

}

.circle span {

    background-color: white;
    color: black;
    display: inline-block;
    padding: 80px;
    margin: 20px;
    border-radius: 110px;
    text-align: center;

}